header {
      background-color: orange;
      margin-bottom: 40px;
  }
  body { 
        font-family: "Roboto", sans-serif;
        color: black;
}

header h1 {
  line-height: 1; /*is this necessary? */
  margin-bottom: 0;
}
header h2 {
  margin-top: 0.5em; /*relative to the font size*/
}
.card {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}
.image {
  width:100%;
}
.description {
  padding: 20px;
}
.description h1 h2 {
  margin-top: 0;
  margin-bottom: 0;
}
